
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  header {
    background: #061b4a;
    height: 88px;
    line-height: 60px;
    border-top: 3px solid #fc47ad;
}
.topnav {
    float: right;
}
  .logo {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}
.login-page input {
  width: 100%;
  display: block;
  margin-bottom: 7px;
  height: 41px;
  padding: 3px 7px;
  border: 1px solid #c6c6c6;
  background: #ffffff!important;
  border-radius: 6px;
  margin-top: 19px;
  color: #6b739f;
}
.login-page button {
  display: block;
  width: 100%;
  margin-bottom: 11px;
  margin-top: 15px;
  height: 44px;
}
section.main-section {
  padding-top: 85px;
}
.login-page small {
  color: #c83c8b;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  display: block;
  margin-bottom: 26px;
}
.login-page h3 {
  color: #204065;
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 5px;
}
.login-page {
  width: 450px;
  height: auto;
  box-shadow: 8px 8px 12px rgba(191, 191, 195, 0.19);
  border: 1px solid #cbcbcb;
  background-color: #ffffff;
  margin: auto;
  display: block;
  padding: 9px 38px 40px;
  border-radius: 8px;
  margin-bottom: 77px;
}
.card-login {
  background:url(../img/cardback.png);
}
.login-page a {
  display: block;
  text-align: right;
  color: #898a93;
  margin-bottom: 35px;
}
.card-login h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
button.submit.card-btn {
  height: 44px;
  padding: 10px 30px;
  border: 1px solid #c83c8b;
  border-radius: 7px;
  margin-bottom: 18px;
}
.cell-phone.card {
  display: block;
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: #fff;
  margin-bottom: 30px;
}
.card-login {
  background: url(../img/cardback.png);
  padding: 31px;
  border-radius: 15px;
}
.login-page form {
  margin-top: 17px;
  margin-bottom: 17px;
}
button.submit {
  background: #c83c8b;
  color: #fff;
  font-size: 16px;
  border: 1px solid;
  border-radius: 6px;
}
button.submit-signbup {
  color: #c83c8b;
  font-weight: 600;
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
}
.logo img {
    margin-right: 6px;
    vertical-align: text-bottom;
    margin-top: 1px;
}
.logo span {
    font-weight: normal;
    color: #d4d4d4;
    margin-top: 16px;
    display: inline-block;
}
a.cell-phone {
    color: #e9af52!important;
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
}
.bredcum {
  background: #f5f5f5;
  height: 37px;
  text-align: center;
}
.page-name {
  color: #204065!important;
  font-size: 14px;
  font-weight: 600!important;
}
.breadcrumb li a {
  color: #6b739f;
  font-size: 14px;
  font-weight: 500;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 2px;
}
  
  .topnav a:hover {
    background-color: transparent;
  }
  
  .topnav a.active {
    color: white;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown, .dropup {
    position: relative;
    float: right;
    padding-top: 10px;
    margin-left: 15px;
}
.dropdown .btn-primary {
    color: #fff;
    background-color: #c83c8b;
    border-color: #c83c8b;
    border-radius: 2px;
}
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   background-color: #fff!important;
  }
  input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: #fff !important;
    background-image: none !important;
    color:#000 !important;
}
footer {
  background: #061b4a;
  padding-top: 38px;
  padding-bottom: 9px;
}
.login-page.registration {
  width: 705px;
  padding:0;
}
.registration li a {
  margin-bottom: 0;
}
.registration .nav-tabs>li.active>a, .registration .nav-tabs>li.active>a:focus, .registration .nav-tabs>li.active>a:hover {
  color: #c83c8b!important;
  cursor: default;
  background-color: #fff;
  border: transparent;
  border-bottom: 3px solid #c83c8b;
}
.registration form {
  padding: 13px 13px 9px;
}
input[type="file"]:before {
  position: absolute;
  content: 'Upload Resume';
  background: #fff;
  width:100%;
  height: 28px;
  line-height: 36px;
}
input[type="file"]:after {
  position: absolute;
  content: '(*.doc, *.docx, *.rtf, *.txt, *.pdf) Max. 6 MB';
  background: #fff;
  width: 100%;
  height: 28px;
  line-height: 36px;
  margin-left: 25px;
  opacity: .5;
  font-size: 10px;
}
.registration span {
  background: #f1f1f1;
  padding: 6px 8px;
  color: #8c91ad;
  position: absolute;
  top: 23px;
  right: 20px;
  border-radius: 6px;
  z-index: 22222;
  cursor: pointer;
}
input[type="file"] { position: relative;cursor: pointer;}
.registration .nav li a {
  color: #204065!important;
  font-size: 14px;
  font-weight: 600;
}
.registration .nav li.pull-right.up-res a {
  display: inline-block;
  margin: 0;
  padding-left: 4px;
  color: #c83c8b!important;
}
.registration .nav li.pull-right.up-res  {
  display: inline-block;
  margin: 0;
  padding-left: 4px;
  color: #6b739f!important;
}
::-webkit-input-placeholder { /* Edge */
  color: #6b739f;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6b739f;
}

::placeholder {
  color: #6b739f;
}
section.above-footer {
 background: url(../img/ft-back.png);
 padding: 14px 0;
}
.above-footer h3 {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 11px;
}
.above-footer p {
  color: #fff;
  font-size: 17px;
  padding: 0 204px 0 0px;
  font-weight: 600;
  margin-bottom: 27px;
  margin-top: 22px;
}
.above-footer .submit.card-btn {
  background: #fff;
  color: #c83c8b;
  font-weight: 600;
  display: inline-block;
}
.above-footer .cell-phone.card {  display: inline-block;
  margin-left: 15px;
}
.login-page a:hover {
  color: #898a93;
}
.footer-content a {
  display: block;
  margin-bottom: 10px;
  color: #d4d5e0;
}
.first {
  color: #fc47ad!important;
  font-size: 18px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 6px;
}
ul.social-icon {
  list-style: none;
  padding: 0;
  margin-top: 27px;
}
.social-icon li {
  display: inline-block;
  margin-right: 8px;
}
.social-icon .fa.fa-facebook {
  width: 30px;
  height: 30px;
  background: #415892;
  text-align: center;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
}
.social-icon .fa.fa-linkedin {
  width: 30px;
  height: 30px;
  background: #3678b2;
  text-align: center;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
}
.social-icon .fa.fa-twitter {
  width: 30px;
  height: 30px;
  background: #6cabe7;
  text-align: center;
  padding: 8px;
  border-radius: 100%;
  color: #fff;
}
.footer-content .logo {
  line-height: normal;
  color: #fff;
}
.footer-content .cell-phone {
  margin-top: 23px;
  font-size: 22px;
  padding: 0;
  margin-left: 0;
}
.footer-content .logo img {
  width: 33%;
}
hr.devider {
  margin-bottom: 6px;
  border-color: #d5d7dc57;
}
.copyright-mail {
  padding: 4px 0 4px;
  color: #e9af52;
}
a.copyright {
  color: #898a93;
}